@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Ubuntu');

/*Deep Orange: #FF5A09
Light Orange: #ec7f37
Orange Yellow: #be4f0c*/

/* removing browser default margins */
html, body {
  margin: 0px;
  padding: 0px;
  height: 100%;
  width: 100%;
}

/* setting default fonts and bg color for body - mainly wanted san-sarif and some good font weight!*/
body {
  background-color: #fff;
  color: #222;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  font-size: 15px;
  padding-top: 60px;
}

.social-icon-first {
  padding: 0 15px 0 0px;
  float:left;

}

.social-icon {
  padding: 0 15px 0 15px;
  float: left;

}

.social-icon-last {
  padding: 0 0 0 15px;
  float: left;

}

/* Nav Elements */

.face-icon {
  margin: 10px 10px 0px 10px;
  border-radius: 100%;
  width: 40px;
  height: 40px;
  float: left;
  text-align: center;
  display: inline-block;
}


/* nav sizing and color */
nav {
  background-color: rgba(255, 255, 255, .95);
  color: #888;
  display: block;
  overflow: hidden;
  float: right;
  margin: 0px 0px 8px 0px;
  padding: 0px 25px 0px 25px;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 0;
}

/* removing default padding from ul */
nav ul {
  margin: 0;
  padding: 0;
}

/* changing list items into block items with a slight transition setting*/
nav ul li {
  display: inline-block;
  list-style-type: none;
  transition: all 0.2s;
}

/* caret settings for projects drop down - created by using borders to make triangle */
/*nav > ul > li > a > .caret {
  border-top: 4px solid #aaa;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
  content: "";
  display: inline-block;
  height: 0;
  width: 0;
  vertical-align: middle;
  transition: color 0.1s linear;
}*/

/* font color and alignment settings */
nav > ul > li > a {
  color: #aaa;
  display: block;
  line-height: 60px;
  padding: 0 24px;
  text-decoration: none;
}

/* hover color */
nav > ul > li:hover {
  background-color: rgb( 40, 44, 47 );
}

/* hover over select color */
nav > ul > li:hover > a {
  color: rgb( 255, 255, 255 );
}

/* caret hover link settings */
nav > ul > li:hover > a > .caret {
  border-top-color: rgb( 255, 255, 255 );
}

/* caret hover color settings */
nav > ul > li > div ul > li:hover > a > .caret {
    border-left-color: rgb(255,255,255);
}

/* drop down nav settings */
nav > ul > li > div {
  background-color: rgb( 40, 44, 47 );
  border-top: 0;
  border-radius: 0 0 3px 3px;
  box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.055);
  display: none;
  margin: 0;
  opacity: 0;
  position: absolute;
  width: 170px;
  visibility: hidden;
  -transition: opacity 0.2s;
}

/* drop down hover color settings */
nav > ul > li:hover > div {
  display: block;
  opacity: 1;
  visibility: visible;
}

/* drop down nav display and positioning*/
nav > ul > li > div ul > li {
  display: block;
  position: relative;
}

/* font color and spacing for drop down nav */
nav > ul > li > div ul > li > a {
  color: #fff;
  display: block;
  padding: 12px 24px;
  text-decoration: none;
}

/* background color for drop down nav */
nav > ul > li > div ul > li:hover > a {
  background-color: rgba( 255, 255, 255, 0.1);
}

/* ---------------- Header Section --------------- */
@media (min-width: 1200px){
  width: 1170px;
}

header {
  text-align: center;
  color: #000;
  background: #fff;
}

header .container {
  padding-top: 170px;
  padding-bottom: 200px;
}

header .container .row {
  padding
}

/*.intro-text .name {
  padding: 2em;
  font-size: 3.33em;
  line-height: 1.22em;}
}*/

header .intro-text .name {
  display: block;
  font-family: 'Raleway';
  font-size: 4.75em;
  font-weight: 300;
  font-style: normal;
  padding: .3em;
}

header .intro-text .blerb {
  display: block;
  font-family: 'Raleway';
  font-size: 1.5em;
  font-weight: 300;
  font-style: normal;
}

/* ---------------- About Me Section --------------- */
section {
  padding: 3em 0;
}
/* About Me & header spacing */
.aboutSect {
  background-color: #888;
}

.aboutSect > .container > .row > div h2 {
  margin-top: 0px;
  margin-bottom: 24px;
  padding-top: 24px;
  color: #000;
}

#what-color {
  color: #ec7f37;
}

.aboutme {
  padding: .3em;
}

.banner ol {
  padding-left: 46px;
}

.numList li {
  display: inline;
}

/* Padding for About Me P tags */
/*#aboutP {
  padding-left: 46px;
}*/


/* ---------------- Projects Section --------------- */

/** {
  outline: 1px solid green;
}*/

.row {
  margin-left: -15px;
  margin-right: -15px;
}

.text-center {
  text-align: center;
}

.col-12 {
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}

section h2 {
  margin: 0 0 24px 0;
  padding-top: 24px;
  font-family: 'Raleway', Helvetica, Arial, sans-serif;
  font-size: 3em;
  font-weight: 300;
  font-style: normal;
  color: #cecece;
}

#blood-color {

}

#sweat-color {

}

#tears-color {

}

section h3 {
  font-family: 'Ubuntu', Helvetica, Arial, sans-serif;
  font-size: 2em;
  font-weight: 300;
  font-style: normal;
  color: #cecece;
  margin: .5em 0 .2em 0;
  padding: 0px;
}

.projects > .colText > h4 {
  margin: 0 0 15px 0;
  font-weight: bold;
}

section p {
  margin-top: 0px;
}



/* back banner for Projects Section */
.projSect {
  background-color: #333;
  margin: 0;
}

.projects {
  padding: .2em;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  display: table;
}

/* Projects header color */
#projectHead {
  color: #cecece;
}

/* Project Columns */

.colText {
  color: #cecece;
}

#pagewrap {
  padding: 5px;
	max-width: 980px;
	margin: 0 auto 20px auto;
}

#leftCol {
	max-width: 290px;
	float: left;
	padding: 5px 15px;
}

#middleCol {
	max-width: 294px; /* Account for margins + border values */
	float: left;
	padding: 5px 15px;
	margin: 0px 10px 5px 10px;
}

#rightCol {
	max-width: 270px;
	padding: 5px 15px;
	float: left;
}



/* ---------------- Work History Section --------------- */

.workSect > .container > .row > div h2 {
  margin-top: 0px;
  margin-bottom: 24px;
  padding-top: 24px;
  color: #000;
}

.workSect > .container > .row > div > span {
  display: block;
  font-family: 'Raleway';
  font-size: 1.5em;
  font-weight: 300;
  font-style: normal;
}

#workP {
  margin-top: 30px;
}

/* ---------------- Contact Section --------------- */

.contactSect {
  background-color: #888;
}

.contactSect > .container > .row > div h2 {
  margin-top: 0px;
  margin-bottom: 24px;
  padding-top: 24px;
  color: #000;
}

.icons {
  margin: auto;
  padding: 5px;
  max-width: 400px;
}

.icons > a:link {
  color: #cecece;
}

.icons > a:visited {
  color: #cecece;
}

.fa:hover {
  color: #ec7f37;
}

.icons > a:visited {
  color: #333;
}
